body {
  font-family: sans-serif;
  margin: 0;
  padding: 20px;
  background-color: #9999996e;
}

.heading {
  font-family: serif;
  text-align: center;
  font-size: 3rem;
}

.searchbar {
  display: flex;
  justify-content: center;
  position: sticky;
  color: white;
  padding: 5px 10px;
  cursor: pointer;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 1.3rem;
}
.searchbar input {
  border: 1px solid dodgerblue;
  padding: 5px 20px;
  border-radius: 10px;
  width: 250px;
  height: 20px;
}

input:focus-visible {
  border: 1px solid dodgerblue;
  color: black;
}

input:active {
  border: 1px solid dodgerblue;
  color: white;
}

.searchbar button {
  background-color: dodgerblue;
  color: white;
  padding: 5px 10px;
  border: none;
  text-decoration: none;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 10px;
  transition: background-color 0.3s ease;
  outline: none;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  font-size: 16px;
  font-weight: bold;
}

.search-icon:hover {
  background-color: rgba(29, 127, 226, 0.575);
  /* background-color: rgba(30, 143, 255, 0.767); */
  color: white;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.3);
}

table {
  width: 100%;
  border-collapse: collapse;
  margin: 0 auto;
}

td {
  border: 1px solid dodgerblue;
  padding: 8px;
  text-align: center;
}
th {
  border: 1px solid dodgerblue;
  padding: 8px;
  text-align: center;
  font-family: serif;
  font-size: 1.2rem;
  font-weight: bold;
}
th:hover {
  background-color: rgba(29, 127, 226, 0.575);
}

tr:hover {
  background-color: rgba(30, 143, 255, 0.123);
}

thead {
  background-color: dodgerblue;
  color: #fff;
  top: 0;
}


#pagination {
  display: flex;
  justify-content: center; 
  margin-top: 20px; 
}

#pagination.hidden {
  visibility: hidden; 
}

#pagination .button {
  margin: 0 5px; 
  padding: 10px 15px;
  background-color: transparent;
  color: rgb(10, 113, 216);
  border: 1px solid dodgerblue;
  border-radius: 5px;
  cursor: pointer;
}


#pagination .button.active {
  background-color: dodgerblue; 
  color: white;
  border-color: dodgerblue;
}

